.ReturnToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-tertiary);
  color: var(--color-background);
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow-md);
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .ReturnToTop {
    bottom: 20px;
    right: 20px;
  }
}

@media (min-width: 1225px) {
  .ReturnToTop {
    bottom: 40px;
    right: 40px;
  }
}