.experiences {
  background-color: var(--bg-secondary);
  padding: 2rem 0;
}

.experiences__wrapper {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
}

.experiences__title {
  font-size: clamp(1.8rem, 1rem + 4vw, 4rem);
  text-align: center;
  margin: 3rem 0 1rem;
}

.experiences__subtitle {
  width: 100%;
  margin: auto;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 4rem;
}

.experiences__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 601px) {
  .experiences__subtitle {
    width: 80%;
  }

  .experiences__list {
    margin-top: 50px;
  }
}